*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #252525;
}

.profile {
    position: absolute;
}

#photo {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    align-items: center;
}

.border {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: rgb(19, 97, 253);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px 8px rgba(87, 86, 86, 0.416);
    
}

.profile__status {
    height: 25px;
    width: 25px;
    background-color: limegreen;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 160px;

}
.handle {
    margin: 0px;
    padding: 28px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
}

#handle_link {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
}